body
{
   margin: 0px;
   padding: 0px;
   background: #202020;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 12pt;
   font-weight: 300;
   color: #444444;
}

ol, ul
{
   padding: 0;
   list-style: none;
}

.container
{
   overflow: hidden;
   margin: 0 30px;
   width: 1880px;
   /* 98% */
}
   
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
   position: relative;
   float: left;
   width: 475px;
   /* 24.63% */
   padding: 15px 0;
}

/*********************************************************************************/
/* logo                                                                          */
/*********************************************************************************/

#logo a
{
   padding-top: -30px;
   text-decoration: none;
   font-size: 55px;
   color: #FFF;
}

#logo img
{
   width: 44px;
   height: auto;
   border-radius: 50%;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu li
{
   border-top: 1px solid rgba(255,255,255,0.08);
}

#menu li a, #menu li span
{
   display: block;
   padding: 20px 15px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 700;
   color: rgba(255,255,255,0.5);
}

/** 선택 시 */
#menu .current_page_item a
{
   background: #2980b9;
   color: rgba(255,255,255,1);
}

.who_use
{
   font-size: 30px;
   margin: 0px 30px;
   font-weight: 700;
   text-decoration: none;
   color: rgba(255,255,255,1);
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main
{
   overflow: hidden;
   float: right;
   width: 1305px;
   /* 70% */
   height: 810px;
   padding: 3em 50px 5em 50px;
   background: #FFF;
   border-top: 6px solid #2980b9;
   text-align: center;
}
#main_user_park
{
   overflow: hidden;
   margin-left: 220px;
   width: 1305px;
   /* 70% */
   height: 810px;
   padding: 3em 50px 5em 50px;
   background: #FFF;
   border-top: 6px solid #2980b9;
   text-align: center;
}

/*********************************************************************************/
/* Login                                                                         */
/*********************************************************************************/

.inp_text input {
   margin: 5px 0 0;
   width: 300px;
   height: 100%;
   font-size: 13px;
   color: #000;
   border: none;  /** 수정 */
   outline: 0;
}
.btn_login {
   margin: 5px 0 0;
   width: 400px;
   height: 60px;
   border-radius: 3px;
   font-size: 16px;
   color: #fff;
   background-color: #000;
}
#btn_logout_user {
   margin-top: -23px;
   float: right;
   width: 420px;
   height: 48px;
}
.btn_logout {
   float: right;
   width: 420px;
   height: 76px;
   border-radius: 3px;
   font-size: 24px;
   color: #fff;
   background-color: #000;
   margin-top: 40px;
}
#frontId {
   width: 400px;
   font-size: 22px;
}
#login_field {
   font-size: 28px;
   width: 600px;
   height: 300px;
   margin: 19% 26%;
   /** 185px */
}
#login_field_find {
   overflow-x: hidden;
   width: 420px;
   height: 750px;
   margin: 2% 16%;
   float: left;
}
.center {
   display: table-cell;
   vertical-align: middle;
   width: 500px;
   height: 750px;
}
.find_button {
   width:420px;
   height:80px;
   border:2px solid #34495e;
   float:left;
   text-align:center;
   cursor:pointer;
   position:relative;
   overflow:hidden;
   margin:0 0px 10px 0;
}
.find_button span {
   font-family:arial;
   font-size:35px;
   color:#34495e;
   transition:all .5s ease;
   z-index:2;
   position:relative;
}
.eff {
   width:420px;
   height:80px;
   left:-800px;
   top:-300px;
   background:#34495e;
   position:absolute;
   transition:all .5s ease;
   z-index:1;
 }
 .find_button:hover .eff {
   left:0;top:0;
 }
 .find_button:hover span {
   color:#fff;
 }

/*********************************************************************************/
/* Database                                                                      */
/*********************************************************************************/

/* 전체 수정 필요                                                                      */
#admin_table_gate {
   width: 100%;
   padding-left: 30px;
   border-collapse: collapse;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}
.admin_table_gate_head {
   color: #369;
   border-bottom: 3px solid #036;
   font-weight: bold;
}
.admin_table_gate_num {
   width: 10%;
   height: 50px;
   font-size: 21px;
   padding: 10px;
}
.admin_table_gate_car_num {
   width: 17%;
   height: 50px;
   font-size: 21px;
   padding: 10px;
}
.admin_table_gate_intime, .admin_table_gate_outtime {
   width: 28%;
   height: 50px;
   font-size: 21px;
   padding: 10px;
}
.admin_table_gate_loc {
   width: 12%;
   height: 50px;
   font-size: 21px;
   padding: 10px;
}
.admin_table_gate_charge {
   width: 15%;
   height: 50px;
   font-size: 21px;
   padding: 10px;
}

.row {
   border-bottom: blue solid 1px;
}
.row>div{
   display: inline-block;
   width: 25%;
}
.even {
   background-color: #f3f6f7;
}

.page_num {
   font-size: 30px;
   font-family: 'airal';
   text-decoration: none;
   color: #7c7c7c;
}
.page_num_now {
   font-size: 30px;
   font-family: 'airal';
   text-decoration: none;
}

/*********************************************************************************/
/* Admin Table                                                                   */
/*********************************************************************************/
.admin_parking_pot_table {
   width: 120px;
   height : 700px;
   border-collapse: collapse;
}
/* 아무런 값도 없을 경우 테이블에 빈 공간 표시 */
th, td {
   text-align: center;
   background-size : 80px;   
   font-weight : bold;
   font-size: 42px;
}
/* 하이퍼링크 폰트 */
.hyper_font {
   text-decoration: none;
   color: white;
   font-weight: lighter;
   text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}
.null_a {
   background-image : url('images/null_a.jpg');
   background-size : 125px 72px;
}
.null_b {
   background-image : url('images/null_b.jpg');
   background-size : 125px 72px;
}
.null_c {
   background-image : url('images/null_c.jpg');
   background-size : 125px 72px;
}
.null_d {
   background-image : url('images/null_d.jpg');
   background-size : 125px 72px;
}
/* 데이터베이스에 차량이 있을 경우 사용될 class */
.car_a {
   background-image : url('images/car_a.jpg');
   background-size : 125px 72px;
}
.car_b {
   background-image : url('images/car_b.jpg');
   background-size : 125px 72px;
}
.car_c {
   background-image : url('images/car_c.jpg');
   background-size : 125px 72px;
}
.car_d {
   background-image : url('images/car_d.jpg');
   background-size : 125px 72px;
}
.parking {
   background-image : url('images/parking.jpg');
   background-size : 125px 72px;
}

/* 주차장 방향표 색깔                                                               */
.direction_point_default {
   position: absolute;
   background-image: url('images/direction_point_green.png');
   background-size: 60px 70px;
   width: 60px;
   height: 70px;
}
.direction_point_red {
   position: absolute;
   background-image: url('images/direction_point_red.png');
   background-size: 60px 70px;
   width: 60px;
   height: 70px;
}
.direction_point_orange {
   position: absolute;
   background-image: url('images/direction_point_orange.png');
   background-size: 60px 70px;
   width: 60px;
   height: 70px;
}

/* A구역에 사용될 id */
#Atable {
   display : inline-block;
}
/* B구역에 사용될 id */
#Btable {
   display : inline-block;
}
/* C구역에 사용될 id */
#Ctable {
   display : inline-block;
}
/* D구역에 사용될 id */
#Dtable {
   display : inline-block;
}

/* 구역별 방향표 위치 */
#exit_icon {
   position: absolute;
   /* background-image: url('images/direction_point_orange.png'); */
   /* background-size: 60px 70px;                                 */
   background-color: red;
   width: 100px;
   height: 50px;
   border-radius: 50%;
   margin-left: 25px;
   margin-top: -12px;
   font-size: 25px;
   color: white;
   padding-top: -20px;
}
#exit_icon p {
   margin-top: 7px;
   font-size: 24px;
   color: white;
   
}
.direction_point_A {
   margin-left: 125px;
   margin-top: -52px;
}
.direction_point_B {
   margin-left: 452px;
   /* 327px */
   margin-top: -52px;
}
.direction_point_C {
   margin-left: 792px;
   /* 340px */
   margin-top: -52px;
}
.direction_point_D {
   margin-left: 1120px;
   /* 340px */
   margin-top: -52px;
}

/* 도로에 사용될 id */
.road {
   width: 90px;
   /* 50px */
   height : 500px;
   display : inline-block;
}
/* 도로에 사용될 id이며 배경색을 없애기 위해 사용됨 */
.road_td {
   background : none;
}
/* 위쪽의 주차장 표시하는 큰 A B B C C D */
#parking_font {
   margin-top: -20px;
   margin-bottom: 6px;
   font-size: 68px;
   font-weight : bold;
}

.font_blank1 {
   margin-right: 70px;
   color: white;
   text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
}

.font_blank2 {
   margin-right: 160px;
   /* 120px */
   color: white;
   text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
}

.font_blank3 {
   color: white;
   text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
}

/*********************************************************************************/
/* User_park Table                                                               */
/*********************************************************************************/
.user_park_table {
   width: 120px;
   height : 432px;
   border-collapse: collapse;
}
#user_parking_font {
   margin-top: 90px;
   margin-bottom: -55px;
   margin-left: 70px;
   font-size: 68px;
   font-weight : bold;
}

/*********************************************************************************/
/* Profile                                                                       */
/*********************************************************************************/
#profile
{
   font-size: 24px;
   overflow-x: hidden;
   float: left;
   width: 420px;
   height: 570px;
   margin-left: 15px;
   margin-top: 5px;
   margin-bottom: 5px;
   background: #FFF;
   border: 2px solid skyblue;
}
/* 자동차 번호 or 관리자 표시 칸                                                     */
.car_num
{
   overflow: hidden;
   vertical-align: middle;
   width: 375px;
   height: 43px;
   margin-left: 5%;
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 10px;
   background: #FFF;
   border: 2px solid skyblue;
   text-align: center;
}
.profile_content {
   text-align: center;
}
.profile_content form{
   text-align: center;
}

/* 유저 아이콘                                                                     */
#user_image img {
   width: 160px;
   height: auto;
   margin-left: 33%;
}
#user_image_gate img {
   width: 150px;
   height: auto;
   margin-left: 26%;
}
/* 현재 위치                                                                       */
#where_am_i {
   width: 300px;
   height: 50px;
   background-color: white;
   padding-top: 15px;
}
.where_am_i {
   position: absolute;
   border: none;
   margin-top: -56px;
   margin-left: 260px;
   height: 31px;
   width: 31px;
   color: #4f5b66;
   font-size: 48pt;
   color: white;
   text-shadow: -2px 0 #3a6ddf, 0 2px #3a6ddf, 2px 0 #3a6ddf, 0 -2px #3a6ddf;
}

/*********************************************************************************/
/* Profile Search                                                                */
/*********************************************************************************/

/* 기본 검색                                                                      */
#profile_search {
   overflow: hidden;
   width: 420px;
   vertical-align: middle;
   white-space: nowrap;
   margin-bottom: -10px;
}
#profile_search input#search {
   width: 420px;
   height: 50px;
   background: #2b303b;
   border: none;
   font-size: 15pt;
   float: left;
   color: #fff;
   padding-left: 15px;
}
#profile_search .icon {
   border: none;
   background: #232833;
   height: 50px;
   width: 60px;
   color: #4f5b66;
   opacity: 0;
   font-size: 18pt;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#profile_search:hover button.icon, #profile_search:active button.icon, #profile_search:focus button.icon {
   outline: none;
   opacity: 1;
   margin-left: -60px;
}
#profile_search:hover button.icon:hover {
   background: white;
}
#profile_search label {
   color: white;
}

/* 새로 고침 - F5                                                                  */
#f5 {
   border: none;
   margin-top: 12px;
   margin-left: 385px;
   height: 31px;
   width: 31px;
   color: #4f5b66;
   opacity: 1;
   font-size: 10pt;
   border-radius: 25px;
   background-position: -1px;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#f5_box2 {
   position: absolute;
   margin-top: -16px;
}
#profile_search:hover button.icon:hover {
   background: white;
}

/* 체크박스                                                                       */
#checkbox {
   background-color: #2b303b
}
input[type="checkbox"] {
   display:none;
}
input[type="checkbox"] + label span {
   display:inline-block;
   width: 24px;
   height: 24px;
   margin: -4px 10px 0 60px;
   vertical-align:middle;
   background:url('images/unchecked2.png') left top no-repeat;
   cursor:pointer;
}
input[type="checkbox"]:checked + label span {
   background:url('images/checked2.png') left top no-repeat;
}

/* 달력                                                                         */
input[type="date"] {
   display: inline-block;
   width: 200px;
   height: 32px;
   margin-top: 2px;
   position: absolute;
}
#profile_search label {
   color: white;
}
#date_box {
   position: absolute;
   border: none;
   background: #232833;
   margin-top: 50px;
   margin-left: 0px;
   height: 180px;
   width: 420px;
   color: #4f5b66;
   opacity: 0;
   font-size: 10pt;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#date_box fieldset {
   width: 140px;
   height: 24px;
   text-align: center;
   color: black;
   background-color: #f3f6f7;
   font-size: 18px;
}
#profile_search:hover #date_box, #date_box:active, #date_box:focus {
   outline: none;
   opacity: 1;
}
#profile_search #date_in_1, #date_in_2, #date_out_1, #date_out_2 {
   border: none;
   background: #232833;
   width: 170px;
   height: 32px;
   color: #4f5b66;
   opacity: 0;
   font-size: 10pt;
   position: relative;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#profile_search:hover input#date_in_1, #profile_search:active input#date_in_1, #profile_search:focus input#date_in_1 {
   outline: none;
   opacity: 1;
   margin-top: 5px;
   margin-left: 3px;
   margin-bottom: 5px;
   /* -111 -207 -96*/
   color: white;
}
#profile_search:hover input#date_in_1:hover {
   background: white;
   color: black;
}
#profile_search:hover input#date_in_2, #profile_search:active input#date_in_2, #profile_search:focus input#tdate_in_2 {
   outline: none;
   opacity: 1;
   margin-top: 5px;
   margin-left: 3px;
   /* 14 -82 -96*/
   color: white;
}
#profile_search:hover input#date_in_2:hover {
   background: white;
   color: black;
}
#profile_search:hover input#date_out_1, #profile_search:active input#date_out_1, #profile_search:focus input#date_out_1 {
   outline: none;
   opacity: 1;
   margin-top: 5px;
   margin-left: 3px;
   /* -111 -207 -96*/
   color: white;
}
#profile_search:hover input#date_out_1:hover {
   background: white;
   color: black;
}
#profile_search:hover input#date_out_2, #profile_search:active input#date_out_2, #profile_search:focus input#tdate_out_2 {
   outline: none;
   opacity: 1;
   margin-top: 5px;
   margin-left: 3px;
   /* 14 -82 -96*/
   color: white;
}
#profile_search:hover input#date_out_2:hover {
   background: white;
   color: black;
}

#profile_search .ok {
   opacity: 0;
   margin-top: 5px;
   margin-right: 0px;
   border: none;
   float: right;
   background: white;
   height: 32px;
   width: 60px;
   color: #4f5b66;
   font-size: 14pt;
   border-radius: 5px;
   cursor:pointer;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#profile_search:hover button.ok, #profile_search:active button.ok, #profile_search:focus button.ok {
   outline: none;
   opacity: 1;
   margin-left: 0px;
   /* 135 39 -96*/
}
#profile_search:hover button.ok:hover {
   background: orange;
   color: blue;
}

/*********************************************************************************/
/* Graph Search                                                                  */
/*********************************************************************************/

#graph_search #search_what {
   width: 420px;
   height: 52px;
   background: #2b303b;
   border: none;
   font-size: 15pt;
   float: left;
   color: #fff;
   padding-left: 15px;
   margin-bottom: 14px;
}
/* 새로 고침 - F5                                                                  */
#f5 {
   position: absolute;
   border: none;
   margin-top: 12px;
   margin-left: 385px;
   height: 31px;
   width: 31px;
   color: #4f5b66;
   opacity: 1;
   font-size: 10pt;
   border-radius: 25px;
   background-position: -1px;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#f5_box3 {
   position: absolute;
   margin-top: 5px;
   margin-left: -7px;
   /* 26px */
}

/* 체크박스                                                                       */
#checkbox {
   background-color: #2b303b
}
.check_button {
   float: left;
   width: 33.333333333333333333%;
   height: 31px;
   border-radius: 3px;
   font-size: 24px;
   color: #fff;
   background: #2b303b;
   cursor: pointer;
}

#graph_search label {
   color: white;
}
#graph_date_box {
   position: absolute;
   border: none;
   background: #232833;
   margin-top: 83px;
   margin-left: 0px;
   height: 40px;
   width: 420px;
   color: #4f5b66;
   opacity: 0;
   font-size: 10pt;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#search_what fieldset {
   width: 220px;
   height: 20px;
   text-align: center;
   color: black;
   background-color: #f3f6f7;
   font-size: 18px;
   margin-top: 6px;
}
#graph_search:hover #graph_date_box, #graph_date_box:active, #graph_date_box:focus {
   outline: none;
   opacity: 1;
}
#graph_search #start_date, #end_date {
   border: none;
   background: #232833;
   width: 170px;
   height: 32px;
   color: #4f5b66;
   opacity: 0;
   font-size: 10pt;
   position: relative;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#graph_search:hover input#start_date, #graph_search:active input#start_date, #graph_search:focus input#start_date {
   outline: none;
   opacity: 1;
   margin-top: 5px;
   margin-left: 3px;
   margin-bottom: 5px;
   /* -111 -207 -96*/
   color: white;
}
#graph_search:hover input#start_date:hover {
   background: white;
   color: black;
}
#graph_search:hover input#end_date, #graph_search:active input#end_date, #graph_search:focus input#end_date {
   outline: none;
   opacity: 1;
   margin-top: 5px;
   margin-left: 3px;
   /* 14 -82 -96*/
   color: white;
}
#graph_search:hover input#end_date:hover {
   background: white;
   color: black;
}

#graph_search .ok {
   opacity: 0;
   margin-top: 5px;
   margin-right: 0px;
   border: none;
   float: right;
   background: white;
   height: 32px;
   width: 60px;
   color: #4f5b66;
   font-size: 14pt;
   border-radius: 5px;
   cursor:pointer;
  
   -webkit-transition: all .55s ease;
   transition: all .55s ease;
}
#graph_search:hover button.ok, #graph_search:active button.ok, #graph_search:focus button.ok {
   outline: none;
   opacity: 1;
   margin-left: 0px;
   /* 135 39 -96*/
}
#graph_search:hover button.ok:hover {
   background: orange;
   color: blue;
}

/*********************************************************************************/
/* Admin_car                                                                     */
/*********************************************************************************/

/* 차 찾아보기 새 창                                                               */
#join_car_body {
   background-color: white;
}
.join_car {
   background-color: white;
   border-collapse: collapse;
   text-align: left;
   line-height: 1.5;
   border-top: 1px solid #ccc;
   border-left: 3px solid #369;
   margin : 20px 10px;
}
.join_car th {
   font-size: 24px;
   width: 140px;
   height: 35px;
   padding: 10px;
   font-weight: bold;
   vertical-align: top;
   color: #153d73;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}
.join_car td {
   font-size: 24px;
   width: 390px;
   height: 35px;
   padding: 10px;
   vertical-align: top;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}


/*********************************************************************************/
/* 그래프                                                                         */
/*********************************************************************************/
#money_day {
   width: 1200px;
   height: 470px;
   margin-top: -60px;
}
#car_day {
   width: 1200px;
   height: 470px;
   margin-top: -30px;
}
#money_month {
   width: 1200px;
   height: 470px;
   margin-top: -60px;
}
#car_month {
   width: 1200px;
   height: 470px;
   margin-top: -30px;
}
#money_year {
   width: 1200px;
   height: 470px;
   margin-top: -60px;
}
#car_year {
   width: 1200px;
   height: 470px;
   margin-top: -30px;
}

.chart--container {
 min-height: 150px;
 width: 100%;
 height: 100%;
}

.zc-ref {
 display: none;
}